include *.rst
include *.txt
include tox.ini
include .coveragerc

include buildout.cfg
exclude buildout.cfg

include .travis.yml
exclude .travis.yml

recursive-include src *.rst
recursive-include src *.zcml
